<!DOCTYPE html>

<h1>Users</h1>

<ul>

  <% @users.each do |user| %>
    <li>
    <%= user.username %>
    <ul>
      <% user.subs.each do |subb| %>
        <li> <%= link_to subb.title, sub_url(subb) %> </li>
      <% end %>
    </ul>
    </li>

    <br>
  <% end %>

</ul>
